<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAPIJCDecauxProxy" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/MyService/APIJCDecauxProxy" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAPIJCDecauxProxy" contract="ServiceReference1.IAPIJCDecauxProxy" name="WSHttpBinding_IAPIJCDecauxProxy">
                <identity>
                    <userPrincipalName value="POLYPC\Florian" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>