<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRoutingCalculator" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/MyService/RoutingCalculator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoutingCalculator"
                contract="ServiceReference1.IRoutingCalculator" name="BasicHttpBinding_IRoutingCalculator" />
        </client>
    </system.serviceModel>
</configuration>