<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRoutingCalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/MyService/RoutingCalculator"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRoutingCalculator"
                contract="ServiceReference1.IRoutingCalculator" name="WSHttpBinding_IRoutingCalculator">
                <identity>
                    <userPrincipalName value="POLYPC\Florian" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>