<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISimpleCalculator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/MyService/SimpleCalculator"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISimpleCalculator"
                contract="ServiceReference1.ISimpleCalculator" name="WSHttpBinding_ISimpleCalculator">
                <identity>
                    <userPrincipalName value="POLYPC\Florian" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>